body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
}

#myCanvas{
  width: 100%;
  height:100%;
  /*background: #ccf9f6;*/
  background-image: url(https://res.cloudinary.com/deh9l9lyq/image/upload/v1493619087/digital_sound_background_310844_zgvfhf.jpg);
  position: relative;
}
